In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/swiggy-restuarant-dataset/swiggy.csv

In [1]:
# Importing the require libraries
import pandas as pd 
import numpy as np 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

# Loading the dataset 
demand = pd.read_csv("/kaggle/input/swiggy-restuarant-dataset/swiggy.csv")
demand.head()

,ID,Area,City,Restaurant,Price,Avg ratings,Total ratings,Food type,Address,Delivery time
0,211,Koramangala,Bangalore,Tandoor Hut,300.0,4.4,100,"Biryani,Chinese,North Indian,South Indian",5Th Block,59
1,221,Koramangala,Bangalore,Tunday Kababi,300.0,4.1,100,"Mughlai,Lucknowi",5Th Block,56
2,246,Jogupalya,Bangalore,Kim Lee,650.0,4.4,100,Chinese,Double Road,50
3,248,Indiranagar,Bangalore,New Punjabi Hotel,250.0,3.9,500,"North Indian,Punjabi,Tandoor,Chinese",80 Feet Road,57
4,249,Indiranagar,Bangalore,Nh8,350.0,4.0,50,"Rajasthani,Gujarati,North Indian,Snacks,Desser...",80 Feet Road,63

In [2]:
# One hot encoding the dataset 
demand_encoded = pd.get_dummies(demand, columns = ['Area', 'City', 'Restaurant', 'Food type', 'Address'])

# Select the features and target 
X = demand_encoded.drop(columns=['ID', 'Price'])
y = demand_encoded['Price']
X

,Avg ratings,Total ratings,Delivery time,Area_ Akhbar Nagar Circle,Area_ Begumpet,Area_26,Area_3Rd Block Jayanagar,Area_A Unit Of M/S Cohort Ruby Area,Area_A.S. Rao Nagar & Sainikpuri,Area_Abids,...,Address_Yerwada,Address_Yeshwanthpura,Address_Yewalewadi,Address_Ymca Circle,Address_Yogi Chowk,Address_Yums Panjrapole,Address_Zahara Nagar Banjara Hills,Address_Zahra Nagar,Address_Zampa Bazar,Address_Zee Plaza
0,4.4,100,59,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,4.1,100,56,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4.4,100,50,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3.9,500,57,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4.0,50,63,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8675,2.9,80,40,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8676,2.9,80,28,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8677,2.9,80,58,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8678,2.9,80,28,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8679,2.9,80,44,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [3]:
y

0       300.0
1       300.0
2       650.0
3       250.0
4       350.0
        ...
8675    500.0
8676    200.0
8677    150.0
8678    150.0
8679    250.0
Name: Price, Length: 8680, dtype: float64

In [4]:
# Spliting the dataset 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42 )

In [5]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Train a linear regression model
model = LinearRegression()
model.fit(X, y)

# Make predictions for existing restaurants
predicted_prices = model.predict(X)
demand['Predicted_Price'] = predicted_prices

# Calculate Mean Squared Error to evaluate the model
mse = mean_squared_error(y, predicted_prices)
print(f"Mean Squared Error: {mse}")

# Print the updated dataset with predicted prices
print("Dataset with Predicted Prices:")
print(demand['Prices'])

Mean Squared Error: 21.723615549427752
Dataset with Predicted Prices:
          ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time  Predicted_Price
0                59       300.002911
1                56       300.005560
2                50       649.998951
3                57       249.978300
4                63       350.013737
...             ...              ...
8675             40       499.999519
8676             28       199.999836
8677             58       149.999397
8678             28       149.999880
8679             44       249.999199

[8680 rows x 11 columns]